#cabecario {
    display: flex;
    justify-content: center;
}

#title img {
    flex-wrap: wrap;
    text-align: center;
    font-size: x-large;
    height: 155px;
    width: auto;
    margin: auto;
}

#corpo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
}

#esquerdo {
    width: 55%;
    height: 150vh;
}

#direito {
    width: 15%;
    height: 65vh;
    border: 5px solid rgb(28, 18, 43);
    border-radius: 28px;
    align-self: flex-start;
}

* {
    background-color: rgb(186, 221, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(21, 16, 44);
    text-align: center;
}

#menu ul li {
    display: inline-flex;
}

#menu ul li a {
    color: rgb(165, 147, 255);
    padding: 20px;
    text-decoration: none;
    display: inline;
    background-color: rgb(255, 255, 255);
}

#menu ul li a:hover {
    background-color: rgb(26, 0, 141);
    transition: background-color 1s ease 0s;

}

#menu ul {
    text-align: center;
}