#cabecario {
    display: flex;
    justify-content: center;
}

#title img {
    flex-wrap: wrap;
    text-align: center;
    font-size: x-large;
    height: 155px;
    width: auto;
    margin: auto;
}

#corpo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#esquerdo {
    width: 85%;
    height: 180vh;
}

#direito {
    width: 45%;
    height: 180vh;
    border: 5px solid rgb(55, 0, 128);
    align-self: flex-start;
}

body {
    background-color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 0, 141);
}
