#title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    background-color: rgb(91, 0, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(231, 136, 240);
}