#cabecario {
    display: flex;
    justify-content: center;
}

#title {
    flex-wrap: wrap;
    text-align: center;
    font-size: x-large;
}

#corpo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#esquerdo {
    width: 75%;
    height: 180vh;
    border: 5px solid purple;
}

#direito {
    width: 25%;
    height: 80vh;
    border: 5px solid purple;
    align-self: flex-start;
}

body {
    background-color: rgb(91, 0, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(231, 136, 240);
}